body {
    background-color: lightgray;
    margin: 2.8px;
}

h1 {
    text-align: center;
    direction: rtl;
    color: #012031;
    font-size: 3em;
    line-height: 45px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h1 ::after {
    text-align: center;
    direction: rtl;
    color: #FFDA44;
    font-size: 3em;
    line-height: 45px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}