body {
    background-color: lightgray;
    margin: 2.8px;
}

h1 {
    text-align: center;
    direction: rtl;
    color: #012031;
    font-size: 3em;
    line-height: 45px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #FFDA44, 2px 3px 7px #000;
    margin-top: 10px;
}