/* NAV */

.navbar-blue {
    background-color: #012231;
    min-height: 80px;
}

.logo-nav {
    height: 75px;
    position: absolute;
}

.nav-svg-icon {
    height: 33.6px;
    position: relative;
    left: 20.3%;
    margin: 5.6% 7px 10px 10px;
}

.nav-iconn {
    margin-right: 1%;
    font-family: 'Varela Round', sans-serif;
    color: white;
    position: relative;
    left: 24.6%;
    font-size: 0.83em;
    border-radius: 3px;
    transition: all 0.3s ease;
    padding-right: 1.5%;
    /* */
}

.nav-iconn:hover {
    background: red;
}