body {
    background-color: lightgray;
}


/* NAV */

.navbar-blue {
    background-color: #012231;
    min-height: 80px;
}

.nav-icon {
    color: gainsboro !important;
}

.logo-nav {
    background-color: white;
}