body {
    background-color: lightgray;
}


/* NAV */

.navbar-blue {
    background-color: #012231;
    min-height: 80px;
}

.logo-nav {}

.nav-svg-icon {
    height: 75px;
    position: absolute;
}

.nav-iconn {
    background-color: white;
}