body {
    background-color: lightgray;
}


/* NAV */

.navbar-blue {
    background-color: #012231;
    min-height: 80px;
}

.logo-nav {
    height: 75px;
    position: absolute;
}

.nav-svg-icon {
    height: 25.6px;
    position: relative;
    left: 23.8%;
    margin: 3.6% 37.4px 10px 10px;
}

.nav-iconn {
    background-color: white;
    position: relative;
    left: 24.6%;
    font-size: 1.1em;
}