body {
    background-color: lightgray;
}


/* NAV */

.navbar-blue {
    background-color: #012231;
    min-height: 80px;
}

.logo-nav {
    background-color: white;
}

.nav-svg-icon {
    height: 20px
}

.nav-iconn {
    background-color: white;
}