body {
    background-color: lightgray;
}


/* NAV */

.navbar {
    background-color: #012231 !important;
    min-height: 80px;
}

.navH-button {
    color: gainsboro !important;
}

.logo-nav {
    color: white;
}